<div class="card">
    <div class="card-header">
        <h3>Create a New Post!</h3>
    </div>
    <form class="card-body">
        <label class="form-label">Title</label>
        <input type="text" name="" class="form-input">

        <label for="body">Content!</label>
        <textarea name="body"  cols="30" rows="10"></textarea>
        <button class="button-primary">Submit!</button>
    </form>
</div>