<div class="card">
    <div class="card-header">
        <h3>Sign Up</h3>
    </div>
    <div role="tabpanel">
        <form class="card-body" >
            <div>
                <label for="username-input-signup">Username</label>
                <input type="text" name="" id="username-input-signup">
            </div>
            <div>  
                <label for="password-input-signup">Password</label>
                <input type="text" name="" id="password-input-signup">
            </div>
            <button class="button">Signup!</button>
            <a href="/login">Click here to login instead!</a>
        </form>
    </div>
</div>